---
import { Image } from "astro:assets";
import "../../styles/global.css";

type Props = {
    title?: string;
    description?: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{ title || "袁某人主页 - MrYuan's Homepage" }</title>
        <link rel="icon" type="image/x-icon" href="/avatar.webp" />
        <meta name="keywords" content="袁某人,袁某,个人网站,个人主页,博客,留言簿" />
        <meta name="description" content={ description || "袁某人的个人主页，记录生活点滴与思想火花。" } />
    </head>
    <body ontouchstart="ontouchstart" class="font-mono bg-neutral-50 dark:bg-neutral-900 dark:text-neutral-400">
        
        <main class="container mx-auto w-full max-w-2xl p-6 space-y-8 text-lg font-medium break-all text-neutral-600 dark:text-neutral-400">
			<Image src="/avatar.webp" alt="头像" width={100} height={100} class="mb-12 size-6 rounded-full outline-2 outline-offset-2 outline-dashed outline-neutral-200 dark:outline-neutral-700"/>
            <slot />
		</main>

    </body>
</html>