---
import BorderBoxComponent from "../components/BorderBoxComponent.astro";
import PageLayout from "../layouts/PageLayout.astro";


---

<PageLayout>
    <BorderBoxComponent>
        <article class="text-base font-light leading-loose space-y-5 text-justify">
            <h1 class="font-bold text-lg text-black">­Ъўј тЁ│С║ј</h1>
            <p>У┐ЎТў»СИђСИфСИџСйЎу╝ќуеІуѕ▒тЦйУђЁуџёСИ╗жАх№╝їТ▓АС║ІтќюТгбтєЎтєЎтЇЋжАхТљГСИфтЇџт«б№╝їтєЇтЮЅтЄаСИфтќюТгбуџётЪЪтљЇ№╝ѕТГБтдѓСйаТГБтюеуюІуџёУ┐ЎСИф№╝Ѕсђѓ</p>
            <p>С╗ј 18 т╣┤т╝ђтДІТљГт╗║тЇџт«б№╝їтФїт╝Ѓ WP тцфУЄЃУѓ┐<span class="text-xs opacity-0 hover:opacity-100">№╝ѕуІЌтц┤С┐ЮтЉй№╝Ѕ</span>СИ╗УдЂуће Typecho№╝ї<span class="underline">УбЂТЪљС║║</span> У┐ЎСИфуД░тЉ╝Сй┐ућеТЌХжЌ┤ТюђжЋ┐уЅ╣ТёЈТ│етєїС║є yuanm.ren№╝ї24 т╣┤уџёТЌХтђЎтЁ│жЌГ№╝їТ▓АТюЅу▓ЙтіЏтњїТЌХжЌ┤тј╗у╗┤Тіц т▒јт▒▒С╗БуаЂТЃ│С╝ўтїќС╣ЪТЌаС╗јСИІТЅІ у┤бТђДтЁ│жЌГ№╝ѕтѕџт╝ђтДІтѕ░тцёуб░тБЂжђ«СйЈтцДСйгт░▒УдЂтЈІжЊЙ№╝їУ┐ЎТў»уДЇжЮътИИСИЇуц╝У▓їуџёУАїСИ║Тќ░С║║У»итІ┐ТеАС╗┐№╝Ѕсђѓ уј░тюет╝ђтДІтГдС╣а тЅЇуФ»ТАєТъХ№╝їТГБтюеуће Astro ТљГт╗║Тќ░уџётЇџт«бсђѓ</p>
            <p>ТћХУЌЈтЪЪтљЇТў»С╗јтЈЉуј░тЉєтЊЦуџётЇџт«бт╝ђтДІуџё№╝ѕТюЅУ┐ЄСИђТ«хТЌХжЌ┤тЈІжЊЙ№╝Ѕ№╝їС║єУДБС╗ќуџё жЮъСИ╗ТхЂ У«║тЮЏтљјТЅЇУ«цУ»єС╗ђС╣ѕТў»у▓ЙтЊЂтЪЪтљЇ№╝їтЅЇТюЪтњїУ«ИтцџС║║СИђТаиС║цС║єтЙѕтцџтГдУ┤╣№╝ѕСйєтњїтцДСйгС╗гТ»ћУхиТЮЦ...№╝Ѕ№╝їуј░тюет░▒тЈфТюЅСИЇтѕ░ 10 СИфтљД№╝ѕТ▓Ау╗ЪУ«А№╝їтЈЇТГБтѕ░ТюЪТюЅжѓ«С╗ХжђџуЪЦ№╝Ѕ№╝їСИђуЏ┤уЋЎуЮђтЂџжА╣уЏ«ТЅђС╗ЦСИЇТќ╣СЙ┐т▒Ћуц║сђѓ</p>
            <hr>
            <p>т«ХСйЈжЎЋУЦ┐УЦ┐т«ЅТќ╣тює 2000KM тєЁ№╝їтЇџт«бтњїу▒│тюѕуџёУђЂС╣АТў»уюЪт░Љуџё№╝їу«ЌТў»уеђТюЅтіеуЅЕС║єсђѓС║єУДБ AndroidсђЂJavaсђЂJavaScriptсђЂHTMLсђЂPHP уГЅУ»ГУеђтњї VueсђЂReactсђЂAngularсђЂJQueryсђЂAstro уГЅТАєТъХсђѓ</p>
            <p>уј░т«ътќюТгб ТЉётй▒­ЪЊисђЂТЉЕТЅў­ЪЏхсђЂуѕгт▒▒РЏ░№ИЈ№╝їуюІС║єуюІжњ▒тїЁт░▒тЁѕУ┐ЎС╣ѕуѓ╣уѕ▒тЦйтљД­ЪЦ╣№╝їуДЅуЮђ СИІжЏеСИЇжфЉсђЂтцЕуЃГСИЇжфЉсђЂтцЕтєиСИЇжфЉсђЂтцфТЎџСИЇжфЉ уџётјЪтѕЎ№╝їС║ј 24 т╣┤ 1 ТюѕтЇќС║єжЎфТѕЉтј╗У┐Єт░ЈтЇіСИфСИГтЏйуџё GSX250№╝їтй╗т║ЋТХѕтц▒тюеС║єТЉЕтЈІтюѕсђѓ</p>
        </article>
    </BorderBoxComponent>
    <BorderBoxComponent>
        <h1 class="font-bold text-lg text-black">­Ъје тЋЦС╣ЪСИЇС╝џ</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            
            <div>
                <h6 class="font-light text-base">HTML/CSS</h6>
                <div class="h-0.5 w-2/3 mt-2 overflow-hidden bg-neutral-200">
                    <div class="h-full w-10/12 bg-neutral-800"></div>
                </div>
            </div>
            <div>
                <h6 class="font-light text-base">JavaScript</h6>
                <div class="h-0.5 w-2/3 mt-2 overflow-hidden bg-neutral-200">
                    <div class="h-full w-3/12 bg-neutral-800"></div>
                </div>
            </div>
            <div>
                <h6 class="font-light text-base">PHP</h6>
                <div class="h-0.5 w-2/3 mt-2 overflow-hidden bg-neutral-200">
                    <div class="h-full w-11/12 bg-neutral-800"></div>
                </div>
            </div>
            <div>
                <h6 class="font-light text-base">Astro</h6>
                <div class="h-0.5 w-2/3 mt-2 overflow-hidden bg-neutral-200">
                    <div class="h-full w-2/12 bg-neutral-800"></div>
                </div>
            </div>
        </div>
    </BorderBoxComponent>
    <BorderBoxComponent>
        <h1 class="font-bold text-lg text-black">РЈ│ тцДС║ІС╗Х</h1>
        <div>
            <section class="flex">
                <div class="relative">
                    <div class="w-[9px] h-[9px] mt-2 rounded-full bg-neutral-400"></div>
                    <div class="absolute top-0 ml-[4px] w-[1px] h-full bg-neutral-400"></div>
                </div>
                <article class="ml-5 text-sm font-light leading-relaxed space-y-2 pb-6">
                    <date class="text-xs font-mono font-light">2024-07-12</date>
                    <p>ти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљД</p>
                </article>
            </section>
            <section class="flex">
                <div class="relative">
                    <div class="w-[9px] h-[9px] mt-2 rounded-full bg-neutral-400"></div>
                    <div class="absolute top-0 ml-[4px] w-[1px] h-full bg-neutral-400"></div>
                </div>
                <article class="ml-5 text-sm font-light leading-relaxed space-y-2 pb-6">
                    <date class="text-xs font-mono font-light">2024-07-12</date>
                    <p>ти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљД</p>
                </article>
            </section>
            <section class="flex">
                <div class="relative">
                    <div class="w-[9px] h-[9px] mt-2 rounded-full bg-neutral-400"></div>
                    <div class="absolute top-0 ml-[4px] w-[1px] h-full bg-neutral-400"></div>
                </div>
                <article class="ml-5 text-sm font-light leading-relaxed space-y-2 pb-6">
                    <date class="text-xs font-mono font-light">2024-07-12</date>
                    <p>ти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљДти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅти┤ТІЅтљД</p>
                </article>
            </section>
        </div>
    </BorderBoxComponent>
</PageLayout>