---
import BaseLayout from '@/layouts/BaseLayout.astro'

import RetroGrid from "@/components/ui/retro-grid";
import { RainbowButton } from "@/components/ui/rainbow-button";

const angle = 30;
---

<BaseLayout>

    <main>
        <section class="relative flex flex-col h-auto overflow-hidden border-b bg-background md:shadow-xl">
            <div class="container mx-auto px-8 my-16 z-10 lg:my-24">
                <div class="flex gap-6 justify-between items-center">
                    <div>
                        <h1 class="inline-block text-3xl font-bold tracking-tighter lg:text-5xl xl:text-6xl/none">Hi, I'm Yuan 👋</h1>
                        <p class="font-light mt-4 text-muted-foreground">欢迎来访袁某的个人主页, 在这你可以看到的我的全部链接及介绍</p>
                    </div>
                    <span class="shrink-0 overflow-hidden rounded-full size-28 border">
                        <img loading="lazy" class="aspect-square w-full h-full" src="https://cravatar.com/avatar/5FBB13B635295D1226A17B782951C309?s=400&amp;f=mp">
                    </span>
                </div>
            </div>

            <RetroGrid className="dark:bg-neutral-800" angle = {angle} />
        </section>

        <section class="container mx-auto px-8 my-16 lg:my-24">
            <div class="font-light leading-relaxed tracking-wide text-justify">
                <h2 class="text-xl font-bold mb-4">关于</h2>
                <p class="mb-6">17年开始接触编码。我的编程之旅始于PHP，这让我对编程世界充满了热爱。作为一名业余爱好者，我始终对新技术充满好奇，并乐于不断探索和学习。最近，我决定扩展我的技能树，开始学习前端开发。正在努力实践令我满意的作品...</p>
                <p class="mb-8">欢迎光临我的个人博客！在这个小小的数字空间里，我分享我的故事、兴趣和创意。无论你是偶然路过，还是特意来访，都希望你能在这里找到一些有趣和有价值的东西。让我们一起探索这个充满可能性的世界，期待与你在网络的海洋中相遇！</p>
            </div>
            <RainbowButton className="text-sm font-bold" id='goBlog'>Browse my blog</RainbowButton>
        </section>

        <section class="container mx-auto px-8 my-16 lg:my-24">
            <h2 class="text-xl font-bold mb-4" >找到我</h2>
            <div class="font-light leading-relaxed tracking-wide text-justify">
                如果你只是想聊聊，给我发邮件 [<a class="border-b border-dashed" href="mailto:wo@jb18.cm">wo@jb18.cm</a>] 非常合适，我看到会第一时间回复。
            </div>
        </section>
    </main>

    <footer class="border-t">
        <div class="container mx-auto p-8">
            <div class="flex flex-wrap gap-4 justify-between items-center text-xs text-muted-foreground font-light">
                <p>Powered By Astro · Designed By Mr.Yuan&Magic UI ♥.</p>
                <p>更新于 2024/10/18</p>
            </div>
        </div>
    </footer>

</BaseLayout>

<script is:inline>
    document.getElementById('goBlog').onclick = function(){
        window.open('https://jb18.cm');
    }
</script>