---
const { PageTitle } = Astro.props;
---

<!doctype html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{PageTitle && PageTitle+" - "} 袁某人主页🫨</title>
        <link rel="icon" type="image/x-icon" href="https://cravatar.com/avatar/5FBB13B635295D1226A17B782951C309?s=400&amp;f=mp">
        <meta name="keywords" content="袁某人,个人主页,jb18.cm,袁某人博客,yuanmren,yuanm.ren,个人导航,导航页,个人网站">
        <meta name="description" content="袁某人的主页，袁某的个人网站">
    </head>
    <body ontouchstart="ontouchstart" class="min-h-screen font-sans">
        
        <div class="container mx-auto px-6">
            <section class="py-16">
                <h1 class="text-5xl font-extrabold mb-6">欢迎来到袁某的个人主页 🌟🌐</h1>
                <p class="text-slate-600 text-sm font-light leading-relaxed tracking-wide font-mono">👋 Hello! Welcome to wo.jb18.cm, 你可以在这看到的我连接的全部链接</p>
            </section>
            <section class="mb-16 text-slate-600">
                <button class="bg-slate-100 rounded-full px-5 py-2.5 font-light mb-5 transition hover:bg-slate-200 active:scale-95" type="button">我的博客 📝</button>
                <p class="text-sm font-light leading-relaxed tracking-wide">欢迎光临我的个人博客！在这个小小的数字空间里，我分享我的故事、兴趣和创意。无论你是偶然路过，还是特意来访，都希望你能在这里找到一些有趣和有价值的东西。让我们一起探索这个充满可能性的世界，期待与你在网络的海洋中相遇！</p>
            </section>
            <section class="grid gap-6 grid-cols-1 lg:grid-cols-2">
                <div class="rounded-xl border border-slate-200 shadow-lg shadow-slate-100 p-6 w-full">
                    <h2 class="text-sm font-semibold mb-2">📫 联系我</h2>
                    <div class="text-sm font-light leading-loose font-mono tracking-wide">
                        <p><a>wo@jb18.cm</a></p>
                        <p></p><a>hi@ymc.im</a></p>
                        <p></p><a>ymc0182@gmail.com</a></p>
                    </div>
                </div>
                <div class="rounded-xl border border-slate-200 shadow-lg shadow-slate-100 p-6 w-full">
                    <h2 class="text-sm font-semibold mb-2">🎨 找到我</h2>
                </div>
            </section>
        </div>

    </body>
</html>

<style is:global>
    ::-webkit-scrollbar{
        display:none
    }
</style>

<script is:inline>
    function copyWechat() {
        navigator.clipboard.writeText('ymc0182'); 
        alert("已复制微信号[YMC0182]");
    }
</script>