---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderComponent from "../components/HeaderComponent.astro";
import PageTitleComponent from "../components/PageTitleComponent.astro";
---

<BaseLayout title="🤡 关于">

    <HeaderComponent />

    <PageTitleComponent title="🤡 关于" />
    
    <!-- =====更新日志===== -->
    <article class="pt-16 leading-loose font-mono tracking-wide">
        <p>待更新...</p>
    </article>

</BaseLayout>