<div id="BlurGradientBgBox" class="w-full h-full min-h-[100vh] fixed -z-50"></div>

<script>
    import { BlurGradientBg } from "../assets/js/BlurGradientBg.module"
    let colorbg = new BlurGradientBg({
        dom: "BlurGradientBgBox",
        colors: ["#FFF2D7","#FFE0B5","#F8C794","#ffdeb8"],
        loop: true
    })
</script>