---
const { className } = Astro.props;
---

<section class={className ? 'giscus '+className : 'giscus'}>
    <div class="text-center font-bold text-gray-400">正在加载评论...</div>
</section>

<script src="https://giscus.app/client.js"
        data-repo="ymc0182/myhome"
        data-repo-id="R_kgDOMKzdyQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOMKzdyc4CgKn6"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://pub-32bba6fccffe48bd83723dd01851eb5d.r2.dev/comments.css"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
