<header class=" sticky top-0 bg-white/30 backdrop-blur border-b z-[999]">
    <div class="container mx-auto px-6 py-2.5 flex justify-between items-center gap-5">
        <h1 class="text-black font-bold shrink-0"><a href="/">🍉 袁某人</a></h1>
        <nav class="text-xs flex flex-nowrap items-center gap-2.5 overflow-x-scroll">
            <a class="shrink-0 px-2 py-1.5 rounded-md transition ease-in-out hover:bg-slate-100 active:bg-slate-200 active:scale-95" href="/">🏠 主页</a>
            <a class="shrink-0 px-2 py-1.5 rounded-md transition ease-in-out hover:bg-slate-100 active:bg-slate-200 active:scale-95" href="/about">😎 关于</a>
            <a class="shrink-0 px-2 py-1.5 rounded-md transition ease-in-out hover:bg-slate-100 active:bg-slate-200 active:scale-95" href="/comments">✍️ 留言</a>
        </nav>
    </div>
</header>