---
import FooterComponent from "../components/FooterComponent.astro";
import HeaderComponent from "../components/HeaderComponent.astro";

const { PageTitle } = Astro.props;
---

<!doctype html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{PageTitle && PageTitle+" - "} 袁某人个人主页</title>
        <link rel="icon" type="image/x-icon" href="https://cravatar.com/avatar/5FBB13B635295D1226A17B782951C309?s=400&amp;f=mp">
        <meta name="keywords" content="袁某人,个人主页,jb18.cm,袁某人博客,yuanmren,yuanm.ren,个人导航,导航页">
        <meta name="description" content="袁某人的个人主页">
    </head>
    <body ontouchstart="ontouchstart" class="min-h-screen text-[#555] font-sans">

        <HeaderComponent />

        <main class="container mx-auto p-6 space-y-6">
            <slot />
        </main>

        <FooterComponent />
    </body>
</html>

<style is:global>
    ::-webkit-scrollbar{
        display:none
    }
</style>